/* HEADER */

#top button{
    color: white;
    background-color: rgb(74, 74, 74);
    padding: 7px;
    margin: 5px 10px 0 0;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

/* MAIN */

main{
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

#center{
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

#center img{
    padding: 5px 3px;
}

.images{
    position: relative;
}

.mic-name{
    color: white;
    position: absolute;
    padding: 5px 5px;
    top: 88%;
    left: 2%;
    opacity: 0.8;
    background-color: rgb(100, 112, 124);
}

/* FOOTER */
footer{
    background-color: rgb(34, 34, 34);
}

.utility{
    padding: 0 10px 0 10px;
}

.utility button{
    color: white;
    background-color: rgb(34, 34, 34);
    border: none;
    cursor: pointer;
}

.utility .fa-solid{
    font-size: 25px;
    padding-bottom: 15px;
}

.utility .fa-chevron-up{
    font-size: 12px;
}

#right-footer-flex button{
    color: rgb(246, 18, 43);
    background-color: rgb(74, 74, 74);
    padding: 0 20px 0 20px;
    line-height: 100px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}

#share-screen{
    color: rgb(75, 200, 0);
}