body{
    background-color: black;
}

/* MAIN */

main{
    height: calc(100vh - 200px);
    overflow-y: scroll;
}

#center{
    width: 95%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: center;
}

#center img{
    padding: 5px 3px;
}

.images{
    position: relative;
}

.mic-name{
    color: white;
    position: absolute;
    padding: 5px 5px;
    top: 88%;
    left: 2%;
    opacity: 0.8;
    background-color: rgb(100, 112, 124);
}

/* FOOTER */

